/*Multiple index*/

@font-face {
	font-family: idolwild;
	src: local("idolwild"),
	     url("../Fonts/idolwild.ttf") format("truetype");
}
footer, header, figure {
	display: block;
}

header {
	text-align: center;
	font-family: "idolwild";
}

header h1 {
	color: #6E6E6E;
	font-size: 40pt;
}

header p {
	color: #848484;
	font-size: 20pt;
}



.MultipleChoice_Button {
	height: 150px;
	width: 150px;
	margin-bottom: 15px;
}

figure {
	margin-left: auto;
	margin-right: auto;
	height: 520px;
	width: 150px;
}

footer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 25%;
	text-align: center;
}
#Back {
	height: 40px;
	width: 40px;
}

